<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> 
                <span class="navbarcarrotBrand">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </span>
                <span>CUTE POKEMON</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a id="surveyLink" href="/survey">
                    <span class="navbarcarrot1">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </span>
                    <span>SURVEY</span>
                </a>
            </li>
            <li>
                <a id="userLink" href="/users">
                    <span class="navbarcarrot2">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </span>
                    <span>TRAINERS</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#unless sessionUser}}
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/unless}}
            {{#if sessionUser}}
                <li><a href="/users/edit"><span class="glyphicon glyphicon-user"></span> {{sessionUser.dataValues.username}}</a></li>
                <li><a href="/users/{{sessionUser.dataValues.id}}"><span class="glyphicon glyphicon-briefcase"></span> Backpack</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
            {{/if}}
        </ul>
    </div>
</nav>