<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Cute Pokemon</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/survey">Survey</a></li>
            <li><a href="/users">Trainers</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#unless sessionUser}}
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/unless}}
            {{#if sessionUser}}
                <li><a href="/users/{{sessionUser.dataValues.id}}"><span class="glyphicon glyphicon-user"></span> {{sessionUser.dataValues.username}}</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {{/if}}
        </ul>
    </div>
</nav>