<h1>Welcome to your Pokemon Team Builder!</h1>

<button><a href="/login">Login!</a></button>
<button><a href="/register">Create an Account</a></button>
<script src="assets/javascript/index.js"></script>