<style>
html { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<h1>Welcome to your Pokemon Team Builder!</h1>
<script src="assets/javascript/index.js"></script>