{{> mynav}}
<h1 id="welcomeHeader">Welcome to your Pokemon Team Builder!</h1>

<div id="loginLink"><a href="/login">Login!</a></div>
<div id="registerLink"><a href="/register">Create an Account</a></div>
<script src="assets/javascript/index.js"></script>