
<div>
<h1>LOGIN TO VIEW YOUR TEAM</h1>
<form action="/login" method="post">
	<div>
		<label>USERNAME</label><br>
		<input type="text" name="username"/><br/>
	</div>
	<div>
		<label>PASSWORD</label><br>
		<input type="password" name="password"/>
	</div>
	<div class="submit">
		<span class="carrot3">
        	<i class="fa fa-caret-right" aria-hidden="true"></i>
    	</span>
		SUBMIT
	</div>
</form>

<div class="footer">

</div>
</div>
<script src="assets/javascript/login.js"></script>