
<div>
<img src="logo.png" alt="logo" height="100" width="300">
</div>
<div>
<h1>Login to build your team!</h1>
<form action="/login" method="post">
	<div>
		<label>Username:</label><br>
		<input type="text" name="username"/><br/>
	</div>
	<div>
		<label>Password:</label><br>
		<input type="password" name="password"/>
	</div>
	<div>
		<input id="submit" type="submit" value="Submit"/>
	</div>
</form>

<div class="footer">

</div>
</div>
<script src="assets/javascript/login.js"></script>