
<div>
<h1>LOGIN TO VIEW YOUR TEAM</h1>
<form class="myForm" id="loginForm" action="/login" method="post">
	<div>
		<label class="myLabel">USERNAME</label><br>
		<input class="loginInput"type="text" name="username"/><br/>
	</div>
	<div>
		<label class="myLabel">PASSWORD</label><br>
		<input class="loginInput" type="password" name="password"/>
	</div>
	<div class="submit" id="submit">
		<span class="carrot3">
        	<i class="fa fa-caret-right" aria-hidden="true"></i>
    	</span>
		SUBMIT
	</div>
</form>


<script src="assets/javascript/login.js"></script>