<h1 id="registerHeader">REGISTER TO START BUILDING YOUR TEAM</h1>
<form id="registerUserForm" action="/register" method="post">
	<div>
        <label>USERNAME</label><br>
        <input id="usernameInput" type="text" name="username"/><br/>
	</div>
    <div>
        <label>EMAIL</label><br>
        <input id="emailInput" type="text" name="email"/><br/>
	</div>
	<div>
	    <label>PASSWORD</label><br>
	    <input id="passwordInput" type="password" name="password"/>
	</div>
	<div class="submit">
		<span class="carrot3">
        	<i class="fa fa-caret-right" aria-hidden="true"></i>
    	</span>
		SUBMIT
	</div>
</form>
<script src="assets/javascript/register.js"></script>