<h1>Register to Start Organizing Your Team!</h1>
<form id="registerUserForm" action="/register" method="post">
	<div>
        <label>Username</label><br>
        <input id="usernameInput" type="text" name="username"/><br/>
	</div>
    <div>
        <label>Email</label><br>
        <input id="emailInput" type="text" name="email"/><br/>
	</div>
	<div>
	    <label>Password</label><br>
	    <input id="passwordInput" type="password" name="password"/>
	</div>
	<div>
	    <input id="submit" type="submit" value="Submit"/>
	</div>
</form>
<script src="assets/javascript/register.js"></script>