{{> mynav}}
<link rel="stylesheet" href="/assets/css/surveyCarrots.css" type="text/css" />

<div id="surveyContainer" class="container">
    <h2 id="surveyTitle">SURVEY QUESTIONS</h2>
    <br>
<form>
    <div id="question1">
        <h2><strong>Question 1</strong></h2>
            <h4>The best defense is a good offense.</h4>
        <div class="radioGroup" id = "q1">
            <div id="q1-1">
                <span id="sc1-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques1" value = "t">Agree<br>
            </div>
            <div id="q1-2">
                <span id="sc1-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques1" value = "t">Disagree<br>
            </div>        
        </div>
    </div>
    <br>

    <div id="question2">
        <h2><strong>Question 2</strong></h2>
            <h4>At the end of the day, you prefer things that are familiar to you. The idea of
                magic, dragons, demons, and ghost are exciting but you prefer a more solid
                grounding on which to live life.
            </h4>
        <div class="radioGroup" id = "q2">
            <div id="q2-1">
                <span id="sc2-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques2" value = "t">Agree<br>
            </div>
            <div id="q2-2">
                <span id="sc2-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques2" value = "t">Disagree<br>
            </div> 
        </div>
    </div>
    <br>

    <div id="question3">
        <h2><strong>Question 3</strong></h2>
            <h4> Of these, what is your favorite color?
            </h4>
        <div class="radioGroup" id = "q3">
            <div id="q3-1">
                <span id="sc3-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>            
                <input type="radio" name="ques3" value = "Blue">Blue<br>
            </div>
            <div id="q3-2">
                <span id="sc3-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Green">Green<br>
            </div>
            <div id="q3-3">
                <span id="sc3-3" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "White">White<br>
            </div>
            <div id="q3-4">
                <span id="sc3-4" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Red">Red<br>
            </div>
            <div id="q3-5">
                <span id="sc3-5" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Black">Black<br>
            </div>
            <div id="q3-6">
                <span id="sc3-6" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Grey">Grey<br>
            </div>
            <div id="q3-7">
                <span id="sc3-7" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Purple">Purple<br> 
            </div>
            <div id="q3-8">
                <span id="sc3-8" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>           
                <input type="radio" name="ques3" value = "Brown">Brown<br>
            </div>
            <div id="q3-9">
                <span id="sc3-9" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Yellow">Yellow<br>
            </div>
            <div id="q3-10">
                <span id="sc3-10" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span> 
                <input type="radio" name="ques3" value = "Pink">Pink   
            </div> 
        </div>
    </div>
    <br>

    <div id="question4">
    <h2><strong>Question 4</strong></h2>
    <h4> You prefer hugs over handshakes.
    </h4>
        <div class="radioGroup" id = "q4">
            <div id="q4-1">
                <span id="sc4-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques4" value = "t">Agree<br>
            </div>
            <div id="q4-2">
                <span id="sc4-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques4" value = "t">Disagree<br>
            </div>   
        </div>
    </div>
    <br>

    <div id="question5">
    <h2><strong>Question 5</strong></h2>
    <h4> Do you prefer to get the newest technology as it becomes available, hold on to the 
        old tech that still works, or do you prefer a mix of both old and new things in your life?
    </h4>
    <div class="radioGroup" id = "q5">
        <div id="q5-1">
            <span id="sc5-1" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques5" value = "old">The Old<br>
        </div>
        <div id="q5-2">
            <span id="sc5-2" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques5" value = "new">The New<br>
        </div>
        <div id="q5-3">
            <span id="sc5-3" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques5" value = "mix">A Mix   
        </div>
    </div>
    </div>
    <br>

    <div id="question6">
        <h2><strong>Question 6</strong></h2>
        <h4> You think that slow and steady will win the race.
        </h4>
        <div class="radioGroup" id="q6">
            <div id="q6-1">
                <span id="sc6-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques6" value = "t">Agree<br>
            </div>
            <div id="q6-2">
                <span id="sc6-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques6" value = "t">Disagree<br>
            </div> 
        </div>  
    </div>
    <br>

    <div id="question7">
    <h2><strong>Question 7</strong></h2>
    <h4> When you go to the pet store, do you gravitate to the furry and feathered critters, the 
        scaly, finned, or crawly critters, or do you gravitate towards people who've brought their
        pet with them?.
    </h4>
    <div class="radioGroup" id = "q7">
        <div id="q7-1">
            <span id="sc7-1" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques7" value = "comp">Feathers & Fur <br>
        </div>
        <div id="q7-2">
            <span id="sc7-2" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques7" value = "exotic">Fins, Scales, & Crawlies<br>
        </div>
        <div id="q7-3">
            <span id="sc7-3" class="surveyCarrot">
                <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
            </span>
            <input type="radio" name="ques7" value = "people">People and Their Pets  
        </div>  
    </div>
    </div>
    <br>

    <div id="question8">
    <h2><strong>Question 8</strong></h2>
    <h4> You think that your valuables and treasure are meant to be shown off and used.
    </h4>
    <div class="radioGroup" id = "q8">
            <div id="q8-1">
                <span id="sc8-1" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques8" value = "t">Agree<br>
            </div>
            <div id="q8-2">
                <span id="sc8-2" class="surveyCarrot">
        	        <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i>
    	        </span>
                <input type="radio" name="ques8" value = "t">Disagree<br>
            </div>   
    </div>
    </div>
    <br>
</form>




    <!-- Submit Button Here -->
    <button type = "submit" class = "submit" id = "submit" >
        <i aria-hidden = 'true'>
            SUBMIT
        </i>
    </button>
</div>
<script src="/assets/javascript/survey.js"></script>