{{> mynav}}
<div class="container">
    <h2>Survey Questions</h2>
    <hr>

    <h3><strong>Question 1</strong></h3>
    <h4>The best defense is a good offense.</h4>
    <div class = "radioGroup ansOptions" id = "q1">
        <label class="radio-inline"><input type="radio" name="ques1" value = "t">Agree</label>
        <label class="radio-inline"><input type="radio" name="ques1" value = "f">Disagree</label>
    </div>
    <br>

    <h3><strong>Question 2</strong></h3>
    <h4>At the end of the day, you prefer things that are familiar to you. The idea of
        magic, dragons, demons, and ghost are exciting but you prefer a more solid
        grounding on which to live life.
    </h4>
    <div class = "radioGroup ansOptions" id = "q2">
        <label class="radio-inline"><input type="radio" name="ques2" value = "t">Agree</label>
        <label class="radio-inline"><input type="radio" name="ques2" value = "f">Disagree</label>
    </div>
    <br>

    <h3><strong>Question 3</strong></h3>
    <h4> Of these, what is your favorite color?
    </h4>
    <div class = "radioGroup ansOptions" id = "q3">
        <label class="radio-inline"><input type="radio" name="ques3" value = "Blue">Blue</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Green">Green</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "White">White</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Red">Red</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Black">Black</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Grey">Grey</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Purple">Purple</label>           
        <label class="radio-inline"><input type="radio" name="ques3" value = "Brown">Brown</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Yellow">Yellow</label>
        <label class="radio-inline"><input type="radio" name="ques3" value = "Pink">Pink</label>    
    </div>
    <br>

    <h3><strong>Question 4</strong></h3>
    <h4> You prefer hugs over handshakes.
    </h4>
    <div class = "radioGroup ansOptions" id = "q4">
        <label class="radio-inline"><input type="radio" name="ques4" value = "t">Agree</label>
        <label class="radio-inline"><input type="radio" name="ques4" value = "f">Disagree</label>   
    </div>
    <br>

    <h3><strong>Question 5</strong></h3>
    <h4> Do you prefer to get the newest technology as it becomes available, hold on to the 
        old tech that still works, or do you prefer a mix of both old and new things in your life?
    </h4>
    <div class = "radioGroup ansOptions" id = "q5">
        <label class="radio-inline"><input type="radio" name="ques5" value = "old">The Old</label>
        <label class="radio-inline"><input type="radio" name="ques5" value = "new">The New</label>
        <label class="radio-inline"><input type="radio" name="ques5" value = "mix">A Mix</label>   
    </div>
    <br>

    <h3><strong>Question 6</strong></h3>
    <h4> You think that slow and steady will win the race.
    </h4>
    <div class = "radioGroup ansOptions" id = "q6">
        <label class="radio-inline"><input type="radio" name="ques6" value = "t">Agree</label>
        <label class="radio-inline"><input type="radio" name="ques6" value = "f">Disagree</label>   
    </div>
    <br>

    <h3><strong>Question 7</strong></h3>
    <h4> When you go to the pet store, do you gravitate to the furry and feathered critters, the 
        scaly, finned, or crawly critters, or do you gravitate towards people who've brought their
        pet with them?.
    </h4>
    <div class = "radioGroup ansOptions" id = "q7">
        <label class="radio-inline"><input type="radio" name="ques7" value = "comp">Feathers & Fur</label>
        <label class="radio-inline"><input type="radio" name="ques7" value = "exotic">Fins, Scales, & Crawlies</label>
        <label class="radio-inline"><input type="radio" name="ques7" value = "people">People and Their Pets</label>    
    </div>
    <br>

    <h3><strong>Question 8</strong></h3>
    <h4> You think that your valuables and treasure are meant to be shown off and used.
    </h4>
    <div class = "radioGroup ansOptions" id = "q8">
        <label class="radio-inline"><input type="radio" name="ques8" value = "t">Agree</label>
        <label class="radio-inline"><input type="radio" name="ques8" value = "f">Disagree</label>   
    </div>
    <br>


    </div>

    <!-- Submit Button Here -->
    <button type = "submit" class = "btn btn-primary btn-lg btn-block" id = "submit" >
        <i aria-hidden = 'true'>
            Submit
        </i>
    </button>
<script src="/assets/javascript/survey.js"></script>