body { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

label {
    font-size: 28px;
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
}

form {
    position: absolute;
    left: 30%;
    top: 28%;
    width: 40%;
    text-align: center;
    margin-top: 10px;
}

h1{
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    color: red;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

.submit {
    background-color: blue;
    font-size: 16px;
    color: white;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

input {
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align: center;
}

#loginLink {
    background-color: white;
    color: blue;
    position: absolute;
    top: 38%;
    left: 30%;
    padding: 10px;
    font-size: 24px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

#registerLink {
    background-color: white;
    color: blue;
    position: absolute;
    top: 53%;
    left: 30%;
    padding: 10px;
    font-size: 24px;
    border-width: 5px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

#carrot1, #carrot2, .carrot3 {
    display: none;
}
    
#loginLink:hover #carrot1 {
    display: inline;
}

#registerLink:hover #carrot2 {
    display: inline;
}

.submit:hover .carrot3 {
    display:inline;
}


#myCarousel {
    position: absolute;
    top: 25%;
    width: 90%;
    height: 60%;
    left: 5%;
}