body { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  text-transform: capitalize;
}

.myLabel {
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}


.myForm {
    position: relative;
    left: 30%;
    right: 30%;
    top: 28%;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

h2{
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: black;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: black;
}

.submit {
    background-color: blue;
    font-size: 16px;
    color: white;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

.loginInput {
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
    height: 50px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: relative;

}

#loginLink {
    background-color: white;
    font-family: "Courier New", Courier, monospace;
    color: blue;
    position: relative;
    top: 38%;
    left: 30%;
    padding: 10px;
    margin-top: 2%;
    font-size: 24px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

#registerLink {
    background-color: white;
    font-family: "Courier New", Courier, monospace;
    color: blue;
    position: relative;
    top: 53%;
    left: 30%;
    padding: 10px;
    margin-top: 2%;
    font-size: 24px;
    border-width: 5px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

.surveyCarrot, #carrot1, #carrot2, .carrot3, .navbarcarrot1, .navbarcarrot2, .navbarcarrotBrand {
    opacity: 0;
}
    
#loginLink:hover #carrot1, #loginLink {
    opacity: 1;
    text-decoration: none;
}

#registerLink:hover #carrot2, #registerLink {
    opacity: 1;
    text-decoration: none;
}

.submit:hover .carrot3 {
    opacity: 1;
}

.navbar-brand:hover .navbarcarrotBrand {
    opacity: 1;
}

#surveyLink:hover .navbarcarrot1 {
    opacity: 1;
}

#userLink:hover .navbarcarrot2 {
    opacity: 1;
}

#myCarousel {
    position: relative;
    top: 35%;
    width: 90%;
    height: 60%;
    left: 5%;
}

table {
    background: #f2f2f2;
    border-radius: 4px;
}

.myTr:hover {
    background: #808080;
    color: #f2f2f2;
    cursor: pointer;
}

.myPanelContainer {
    margin-top: 20px;
}

.carousel-inner > .item > img {
   position: absolute;
   left: 10%;
   margin-top: 10%;
} 

#myCarousel {
    background-image: url("/assets/images/grid.png");
    background-size: 100% 100%;
    width: 80%;
    left: 10%;
    border-radius: 5px;
    border: 3px solid #f93d31;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}


.heightWeight, .pokeName{
    background-color: white;
    border-left: 8px solid #f93d31;
    border-right: 8px solid #f93d31;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 40%;
    position: relative;
    left: 55%;
    top: -80px;
    margin:0px;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 5px;
    margin-right: 5%;
}

.pokeName {
    left: 10%;
    top: 45px;
}

.pokeSprite {
    position: relative;
    left: 23%;
    top: 50px;
}

.pokeStats {
    background-color: white;
    border-left: 8px solid #f93d31;
    border-right: 8px solid #f93d31;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 85%;
    height: 15%;
    position: relative;
    padding: 5px;
    left: 10%;
    top: -40px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;


}

.navbar {
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
    font-family: "Courier New", Courier, monospace;
}

#myPanel {
    padding: 10px;
    background-color: white;
    margin: 0px;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    width: 70%;
    left: 15%;
}

.myLinksDiv {
    margin-bottom:8px;
}

.myTable{
    background-color: #f2f2f2;
}

#surveyContainer {
    position: absolute;
    width:60%;
    left: 20%;
}

#recentCaught, #pokedex, .myEditContainer, #surveyTitle, #question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8 {
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
}

.pokeInfo {
    position: relative;
    width: 60%;
    left: 20%;

}

#myPanel {
    display: table;
}

.table {
    table-layout: fixed;
    width: 100%;
}