#q1-1:hover #sc1-1{
    opacity: 1;
}

#q1-2:hover #sc1-2{
    opacity: 1;
}

#q2-1:hover #sc2-1{
    opacity: 1;
}

#q2-2:hover #sc2-2{
    opacity: 1;
}

#q3-1:hover #sc3-1{
    opacity: 1;
}

#q3-2:hover #sc3-2{
    opacity: 1;
}

#q3-3:hover #sc3-3{
    opacity: 1;
}

#q3-4:hover #sc3-4{
    opacity: 1;
}
#q3-5:hover #sc3-5{
    opacity: 1;
}

#q3-6:hover #sc3-6{
    opacity: 1;
}

#q3-7:hover #sc3-7{
    opacity: 1;
}

#q3-8:hover #sc3-8{
    opacity: 1;
}
#q3-9:hover #sc3-9{
    opacity: 1;
}

#q3-10:hover #sc3-10{
    opacity: 1;
}

#q4-1:hover #sc4-1{
    opacity: 1;
}

#q4-2:hover #sc4-2{
    opacity: 1;
}
#q5-1:hover #sc5-1{
    opacity: 1;
}

#q5-2:hover #sc5-2{
    opacity: 1;
}

#q5-3:hover #sc5-3{
    opacity: 1;
}

#q6-1:hover #sc6-1{
    opacity: 1;
}
#q6-2:hover #sc6-2{
    opacity: 1;
}

#q7-1:hover #sc7-1{
    opacity: 1;
}

#q7-2:hover #sc7-2{
    opacity: 1;
}

#q7-3:hover #sc7-3{
    opacity: 1;
}
#q8-1:hover #sc8-1{
    opacity: 1;
}

#q8-2:hover #sc8-2{
    opacity: 1;
}

#submit {
    margin-bottom: 20px;
}